@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#img1 {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-bottom: 25px;
}
#img2{
    grid-column-start: 2;
    grid-column-end: 3;
}
#img3{
    grid-column-start: 3;
    grid-column-end: 4;
}
#img4{
    grid-column-start: 4;
    grid-column-end: 5;
}