@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.list_wallpaper{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-top: 50px;
    padding-bottom: 30px;
}

#img1 {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-bottom: 25px;
}
#img2{
    grid-column-start: 2;
    grid-column-end: 3;
}
#img3{
    grid-column-start: 3;
    grid-column-end: 4;
}
#img4{
    grid-column-start: 4;
    grid-column-end: 5;
}
#img5{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
#img6{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
#img7{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
#img8{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    
}