@import url(variable.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "EncodeSans-Regular";
    src: url("../storage/font/AvenirLTStd/AvenirLTStd-Roman.otf");
}